<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Activity VS Time Spent by org. over different projects</h1>
    </div>
  </div>
  <script language=javascript> var raw_data = <%= values %></script>
  <div id="chart"> </div>
</div>
<script src="dist/js/activity_vs_time.js"></script>