<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Visualizations
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-10 text-centre">
                                    <div class="huge">Project vs Hours Worked</div>
                                </div>
                            </div>
                        </div>
                        <a href="/projVsHours">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-centre">
                                    <div class="huge">Time Usage vs Life cycle of a project over months/years.</div>
                                    <!-- <div>New Comments!</div> -->
                                </div>
                            </div>
                        </div>
                        <a href="/lifeCycle">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <br>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-10 text-centre">
                                    <div class="huge">Users vs Hours Worked on weekly/monthly basis</div>
                                    <!-- <div>New Comments!</div> -->
                                </div>
                            </div>
                        </div>
                        <a href="/usersVsHours">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-centre">
                                    <div class="huge">Activity variation for a user over a year</div>
                                    <!-- <div>New Comments!</div> -->
                                </div>
                            </div>
                        </div>
                        <a href="/activityVAr">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                    <br>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6 text-centre">
                                    <div class="huge">All Projects vs Team Size</div>
                                    <!-- <div>New Comments!</div> -->
                                </div>
                            </div>
                        </div>
                        <a href="/projVsTeam">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12 text-centre">
                                    <div class="huge">Activities vs Time Spent by org. on each project.</div>
                                </div>
                            </div>
                        </div>
                        <a href="/activityVsTime">
                            <div class="panel-footer">
                                <span class="pull-left">View Chart</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>

            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>