<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Time Spent on each activity for all Projects</h1>
      </div>
  </div>
  <script language=javascript> var raw_data = <%= values %></script>
    <div id="chart"></div>
</div>

<script src="dist/js/time_per_act.js"></script>
